.venv
*/__pycache__/
*/.pytest_cache/
*/.mypy_cache/
*/.pyre/
*/.pytype/
*/.tox/
*/.vscode/
*/.idea/
*/.mypy
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.pdb
*.sqlite3
*.db
*.db-journal
*.sqlite3-journal
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.idea/
.vscode/
.DS_Store
*.coverage
.coverage.*
.cache
.pytest_cache/
.tox/
htmlcov/
.ipynb_checkpoints
.mypy_cache/
.pyre/
.pytype/
*.pyc
